<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.Article" >
    <id column="articleid" property="articleid" jdbcType="INTEGER" />
    <result column="articletitle" property="articletitle" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="articlecontent" property="articlecontent" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="topicid" property="topicid" jdbcType="INTEGER" />
    <result column="articleimg" property="articleimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    articleid, articletitle, userid, articlecontent, time, topicid, articleimg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article
    where articleid = #{articleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where articleid = #{articleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.Article" >
    insert into article (articleid, articletitle, userid, 
      articlecontent, time, topicid, 
      articleimg)
    values (#{articleid,jdbcType=INTEGER}, #{articletitle,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{articlecontent,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{topicid,jdbcType=INTEGER}, 
      #{articleimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        articleid,
      </if>
      <if test="articletitle != null" >
        articletitle,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="articlecontent != null" >
        articlecontent,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="topicid != null" >
        topicid,
      </if>
      <if test="articleimg != null" >
        articleimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        #{articleid,jdbcType=INTEGER},
      </if>
      <if test="articletitle != null" >
        #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="articlecontent != null" >
        #{articlecontent,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="topicid != null" >
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="articleimg != null" >
        #{articleimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.Article" >
    update article
    <set >
      <if test="articletitle != null" >
        articletitle = #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="articlecontent != null" >
        articlecontent = #{articlecontent,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="topicid != null" >
        topicid = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="articleimg != null" >
        articleimg = #{articleimg,jdbcType=VARCHAR},
      </if>
    </set>
    where articleid = #{articleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Article" >
    update article
    set articletitle = #{articletitle,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      articlecontent = #{articlecontent,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      topicid = #{topicid,jdbcType=INTEGER},
      articleimg = #{articleimg,jdbcType=VARCHAR}
    where articleid = #{articleid,jdbcType=INTEGER}
  </update>
</mapper>