<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.MenuMapper" >
<select id="seltreebypid" resultType="com.jk.pojo.Menu" parameterType="Integer">
  SELECT id,pid,text,url href,open,status FROM aftermenu WHERE pid =#{pid}
</select>
</mapper>