<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.Topic" >
    <id column="topicid" property="topicid" jdbcType="INTEGER" />
    <result column="topictitle" property="topictitle" jdbcType="VARCHAR" />
    <result column="topiccontent" property="topiccontent" jdbcType="VARCHAR" />
    <result column="topicstarttime" property="topicstarttime" jdbcType="DATE" />
    <result column="topicendtime" property="topicendtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    topicid, topictitle, topiccontent, topicstarttime, topicendtime
  </sql>

  <select id="querywzjtotopictotal" resultType="long">
  SELECT COUNT(*) FROM topic c,
(SELECT SUM(b.articlescore)s,a.topicid ss FROM article a,articlescore b WHERE
a.articleid=b.articleid GROUP BY a.topicid) y WHERE c.topicid=y.ss ORDER BY y.s DESC
  </select>
  <select id="querywzjtotopic" resultType="com.jk.pojo.Topic">
SELECT c.*,y.* FROM topic c,
(SELECT SUM(b.articlescore)s,a.topicid ss FROM article a,articlescore b WHERE
a.articleid=b.articleid GROUP BY a.topicid) y WHERE c.topicid=y.ss ORDER BY y.s DESC
limit #{st},#{rows}
  </select>

<delete id="todeletetotopic1" parameterType="java.lang.Integer">
delete from topic where topicid = #{topicid,jdbcType=INTEGER}
</delete>

<insert id="addtotopic" parameterType="com.jk.pojo.Topic">
   insert into topic (topictitle, topiccontent,
      topicstarttime, topicendtime,topicyn)
    values (#{topictitle}, #{topiccontent},
      #{starttime1}, #{endtime1},#{topicyn})
</insert>

<delete id="todeletetotopic2">
  delete from topic where topicid = #{s}
</delete>

<select id="toupdatetotopic" resultMap="BaseResultMap" parameterType="java.lang.Integer">
SELECT * FROM topic where topicid=#{topicid}
</select>

<update id="updatetotopic" parameterType="com.jk.pojo.Topic">
 update topic
    set topictitle = #{topictitle,jdbcType=VARCHAR},
      topiccontent = #{topiccontent,jdbcType=VARCHAR},
      topicstarttime = #{starttime1,jdbcType=DATE},
      topicendtime = #{endtime1,jdbcType=DATE},
      topicyn=#{topicyn,}
    where topicid = #{topicid,jdbcType=INTEGER}
</update>






  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topic
    where topicid = #{topicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic
    where topicid = #{topicid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.Topic" >
    insert into topic (topicid, topictitle, topiccontent, 
      topicstarttime, topicendtime)
    values (#{topicid,jdbcType=INTEGER}, #{topictitle,jdbcType=VARCHAR}, #{topiccontent,jdbcType=VARCHAR}, 
      #{topicstarttime,jdbcType=DATE}, #{topicendtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.Topic" >
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        topicid,
      </if>
      <if test="topictitle != null" >
        topictitle,
      </if>
      <if test="topiccontent != null" >
        topiccontent,
      </if>
      <if test="topicstarttime != null" >
        topicstarttime,
      </if>
      <if test="topicendtime != null" >
        topicendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="topictitle != null" >
        #{topictitle,jdbcType=VARCHAR},
      </if>
      <if test="topiccontent != null" >
        #{topiccontent,jdbcType=VARCHAR},
      </if>
      <if test="topicstarttime != null" >
        #{topicstarttime,jdbcType=DATE},
      </if>
      <if test="topicendtime != null" >
        #{topicendtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.Topic" >
    update topic
    <set >
      <if test="topictitle != null" >
        topictitle = #{topictitle,jdbcType=VARCHAR},
      </if>
      <if test="topiccontent != null" >
        topiccontent = #{topiccontent,jdbcType=VARCHAR},
      </if>
      <if test="topicstarttime != null" >
        topicstarttime = #{topicstarttime,jdbcType=DATE},
      </if>
      <if test="topicendtime != null" >
        topicendtime = #{topicendtime,jdbcType=DATE},
      </if>
    </set>
    where topicid = #{topicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Topic" >
    update topic
    set topictitle = #{topictitle,jdbcType=VARCHAR},
      topiccontent = #{topiccontent,jdbcType=VARCHAR},
      topicstarttime = #{topicstarttime,jdbcType=DATE},
      topicendtime = #{topicendtime,jdbcType=DATE}
    where topicid = #{topicid,jdbcType=INTEGER}
  </update>
</mapper>