<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.VoicetopicMapper" >
  <sql id="Base_Column_List" >
    voiceid, voicetitle, v.zhuboid,neirongs, voicefrom, voicetime, voicimg, voicyn,z.zhuboid boid,zhuboname boname,vid vids,vurl vurls,wenziid wenziids,wenzi wenzis
  </sql>

  <select id="counts" resultType="long">
    select count(*) from voicetopic v,zhubo z,voice a,voicefont d where v.zhuboid=z.zhuboid AND v.voicefrom=a.vid and a.vfont=d.wenziid
  </select>

  <select id="querySelects"  resultType="com.jk.pojo.Voicetopic">
    select
    <include refid="Base_Column_List" />
    from voicetopic v,zhubo z,voice a,voicefont d where v.zhuboid=z.zhuboid AND v.voicefrom=a.vid and a.vfont=d.wenziid  limit #{st},#{rows}
  </select>

  <select id="Xiangqings"  resultType="com.jk.pojo.Voicetopic">
    select
    <include refid="Base_Column_List" />
    from voicetopic v,zhubo z,voice a,voicefont d where v.zhuboid=z.zhuboid AND v.voicefrom=a.vid and a.vfont=d.wenziid and v.voiceid=#{voiceid}
  </select>


  <select id="ZhuboSelect" resultType="com.jk.pojo.Zhubo">
    select * from zhubo
  </select>

  <select id="VoiceSelect" resultType="com.jk.pojo.Voice">
    select * from voice
  </select>

  <insert id="addHuatis" parameterType="com.jk.pojo.Voicetopic" >
    insert into voicetopic (voicetitle, zhuboid,
    voicefrom, voicetime, voicimg,
    voicyn,neirongs)
    values (#{voicetitle,jdbcType=VARCHAR}, #{zhuboid,jdbcType=INTEGER},
    #{voicefrom,jdbcType=INTEGER},sysdate(), #{voicimg,jdbcType=VARCHAR},2,#{neirongs})
  </insert>

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from voicetopic
    where voiceid = #{voiceid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Voicetopic" >
    update voicetopic
    set voicetitle = #{voicetitle,jdbcType=VARCHAR},
      zhuboid = #{zhuboid,jdbcType=INTEGER},
      voicefrom = #{voicefrom,jdbcType=INTEGER},
      voicetime = #{voicetime,jdbcType=DATE},
      voicimg = #{voicimg,jdbcType=VARCHAR},
      voicyn = #{voicyn,jdbcType=INTEGER}
    where voiceid = #{voiceid,jdbcType=INTEGER}
  </update>-->
</mapper>