<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.VoiceMapper" >
  <sql id="Base_Column_List" >
    vid, vurl, vfont
  </sql>



  <!--

    <select id="counts" resultType="long">
    select * from voice where vid = #{vid,jdbcType=INTEGER}
  </select>


  <select id="counts" resultType="long">
    select
    <include refid="Base_Column_List" />
    from voice
    where vid = #{vid,jdbcType=INTEGER}
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from voice
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.Voice" >
    insert into voice (vid, vurl, vfont
      )
    values (#{vid,jdbcType=INTEGER}, #{vurl,jdbcType=VARCHAR}, #{vfont,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Voice" >
    update voice
    set vurl = #{vurl,jdbcType=VARCHAR},
      vfont = #{vfont,jdbcType=INTEGER}
    where vid = #{vid,jdbcType=INTEGER}
  </update>-->
</mapper>